// ************* Style Main**********************************

main{

    // ****************** Style section Menu ********************** 
    #menus{
        padding: 35px 0;
        .box{
            position: relative;
            background-color: white;
            border: 1px solid rgba(219, 219, 219, 0.562);
            .topLeft{
                position: absolute;
                left: 0;
                top: 0;
                z-index: 5;
            }
            .topRight{
                position: absolute;
                top: 0;
                right: 0;
                z-index: 5;
            }
            .bottomRight{
                right: 0;
                bottom: 0;
                position: absolute;
                z-index: 5;
            }
            .bottomLeft{
                left: 0;
                bottom: 0;
                position: absolute;
                z-index: 5;
            }
            h2{
                display: inline-block;
                margin: 0 auto;
                z-index: 5;
            }
            .textMain{
                margin-top: 50px;
                margin-bottom: 50px;
                .boxText{
                    margin: 50px;
                    width: 50%;
                }
            }
            .menu{
                font-size: xx-large;
                margin-bottom: 60px;
                .colonneGauche{
                    width: 20%;
                    border-right: rgba(194, 192, 192, 0.637) 1px solid;
                    .icons{
                        width: 100%;
                        margin: 14px 0;
                        i{
                            color: rgba(167, 163, 163, 0.637);
                        }
                    }
                    .icons:hover{
                        border-right: 5px solid $myRed;
                    }
                    .icons:hover i{
                        color: $myRed;
                    }
                }
                .colonneDroite{
                    width: 40%;
                    margin: 0 15px;
                }
                .prix{
                    .euros25{
                        width: 100%;
                        border-bottom: 1px rgba(194, 192, 192, 0.637) dashed;
                        margin: 15px 0;
                        img{
                            width: 100px;
                            border-radius: 50%;
                            border: rgba(194, 192, 192, 0.637) solid 5px;
                        }
                        .textPrix{
                            font-size: 15px;
                            width: 55%;
                            span{
                                display: block;
                            }
                        }
                        .font25{
                            font-size: 20px;
                            font-weight: 600;
                            padding: 0 8px;
                            background-color: #EFEFEF;
                        }
                    }
                }
            }
            .spaceLine{
                margin-bottom: 60px;
            }
        }
    }

    // *********************** Fin style section menu *******************

    // *********************** Debut style section Chefs ****************

    #ourChefs{
        background-color: black;
        background-image: url('../img/team_background.jpg');
        background-size: 900%;
        position: 48% 42%;
        padding: 50px 0;
        .titreOurChef{
            padding: 50px;
        }
    }

    // ************************ Fin style section Chefs *****************

    // *********************** Debut style section Book ****************

    #book{
        padding: 35px 0;
        .box{
            position: relative;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgba(219, 219, 219, 0.562);
            .topLeft{
                position: absolute;
                left: 0;
                top: 0;
                z-index: 5;
            }
            .topRight{
                position: absolute;
                top: 0;
                right: 0;
                z-index: 5;
            }
            .bottomRight{
                right: 0;
                bottom: 0;
                position: absolute;
                z-index: 5;
            }
            .bottomLeft{
                left: 0;
                bottom: 0;
                position: absolute;
                z-index: 5;
            }
            .littleBox{
                .form{
                    background-image: url('../img/book_table_bg.jpg');
                    width: 70%;
                    border-radius: 15px;
                    div{
                        .myBorderForm{
                            border-radius: 10px;
                            width: 100%;
                            padding: 10px;
                            padding-right: 35px;
                        }
                    }
                }
            }
            .blogItem{
                div{
                    div{
                        position: relative;
                        img{
                            width: 90%;
                            border-radius: 10px;
                            border: rgba(219, 217, 217, 0.637) solid 5px;
                            margin: 0 auto;
                        }
                        .textBlog{
                            position: absolute;
                            bottom: -52%;
                            left: 9%;
                            .ptBtn{
                            background-color: $myRed;
                            color: white;
                            font-size: 20px;
                            padding: 10px 10px;
                            border-radius: 10px;
                            }
                            
                        }
                    }
                }
            }
        }

    // ************************ Fin style section Book ****************
    }
}