header {
  width: 100%;
  position: relative;
  min-height: 100vh;
}
header .myCarousel {
  position: absolute;
  z-index: -2;
  width: 100%;
}
header .myCarousel .myCarousel-indicators {
  position: absolute;
  right: 0;
  bottom: 20px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}
header .myCarousel .myCarousel-indicators .myIndicators {
  color: rgba(255, 255, 255, 0.699);
  margin: 0 3px;
}
header .myCarousel div .divHeight {
  width: 100%;
}
header .myNavBar {
  align-items: center;
}
header .myNavBar ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 2.5vh 0 0 0;
  border-bottom: rgba(255, 255, 255, 0.55) solid 1px;
  border-top: rgba(255, 255, 255, 0.55) solid 1px;
}
header .myNavBar ul li {
  display: flex;
  align-items: center;
  padding: 14px 30px;
  margin: 0;
}
header .myNavBar ul li a {
  text-decoration: none;
  color: white;
  font-size: 0.9em;
  padding: 0;
  margin: 0;
}
header .myNavBar ul :hover {
  background-color: #C42D40;
}
header .myNavBar img {
  margin: 0 4vw;
}
header .myText {
  margin-top: 120px;
}
header .myText h2 {
  font-size: 3.5em;
  margin: 0;
}
header .myText div {
  margin-top: 65px;
}
header .myText div a {
  text-decoration: none;
  color: white;
  padding: 15px 25px;
  border-radius: 25px;
  font-size: 0.95em;
  margin: 0 12px;
}
header .myText div .leftBtn {
  background-color: white;
}
header .myText div .rightBtn {
  background-color: #AF2839;
}
header .decoBottom {
  height: 10px;
  position: absolute;
  z-index: 999;
  width: 100%;
  background-image: url("../img/bottom_decoration_img.png");
  background-repeat: repeat-x;
  bottom: 28px;
}

main #menu {
  padding: 35px 0;
}
main #menu .box {
  position: relative;
  background-color: white;
  border: 1px solid rgba(219, 219, 219, 0.562);
}
main #menu .box .topLeft {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}
main #menu .box .topRight {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}
main #menu .box .bottomRight {
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 5;
}
main #menu .box .bottomLeft {
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 5;
}
main #menu .box h2 {
  display: inline-block;
  margin: 0 auto;
  z-index: 5;
}
main #menu .box .textMain {
  margin-top: 50px;
  margin-bottom: 50px;
}
main #menu .box .textMain .boxText {
  margin: 50px;
  width: 50%;
}
main #menu .box .menu {
  font-size: xx-large;
  margin-bottom: 60px;
}
main #menu .box .menu .colonneGauche {
  width: 20%;
  border-right: rgba(194, 192, 192, 0.637) 1px solid;
}
main #menu .box .menu .colonneGauche .icons {
  width: 100%;
  margin: 14px 0;
}
main #menu .box .menu .colonneGauche .icons i {
  color: rgba(167, 163, 163, 0.637);
}
main #menu .box .menu .colonneGauche .icons:hover {
  border-right: 5px solid #C42D40;
}
main #menu .box .menu .colonneGauche .icons:hover i {
  color: #C42D40;
}
main #menu .box .menu .colonneDroite {
  width: 40%;
  margin: 0 15px;
}
main #menu .box .menu .prix .euros25 {
  width: 100%;
  border-bottom: 1px rgba(194, 192, 192, 0.637) dashed;
  margin: 15px 0;
}
main #menu .box .menu .prix .euros25 img {
  width: 100px;
  border-radius: 50%;
  border: rgba(194, 192, 192, 0.637) solid 5px;
}
main #menu .box .menu .prix .euros25 .textPrix {
  font-size: 15px;
  width: 55%;
}
main #menu .box .menu .prix .euros25 .textPrix span {
  display: block;
}
main #menu .box .menu .prix .euros25 .font25 {
  font-size: 20px;
  font-weight: 600;
  padding: 0 8px;
  background-color: #EFEFEF;
}
main #menu .box .spaceLine {
  margin-bottom: 60px;
}
main #ourChefs {
  background-color: black;
  background-image: url("../img/team_background.jpg");
  background-size: 900%;
  position: 48% 42%;
  padding: 50px 0;
}
main #ourChefs .titreOurChef {
  padding: 50px;
}
main #book {
  padding: 35px 0;
}
main #book .box {
  height: 800px;
  position: relative;
  background-color: white;
  border: 1px solid rgba(219, 219, 219, 0.562);
}
main #book .box .topLeft {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}
main #book .box .topRight {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
}
main #book .box .bottomRight {
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 5;
}
main #book .box .bottomLeft {
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 5;
}

body {
  background-image: url("../img/main_bg.jpg");
}

.myUppercase {
  text-transform: uppercase;
}

.myDarkRedColor {
  color: #AF2839;
}

.myDarkRedBg {
  background-color: #AF2839;
}

.myRed {
  color: #C42D40;
}

.myFont1 {
  font-family: "Courgette", cursive;
}

.bigWords {
  font-size: 1.25em;
}

.middleWords {
  font-size: 1.4em;
}

.myFilter {
  filter: brightness(20%);
}

.myFsIcon {
  font-size: 50px;
}

/*# sourceMappingURL=style.css.map */
